img {
    height: 200px;
}

body {
    padding: 0px;
    margin: 0px
}


main {
    padding: 16px;

}

nav {
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
    padding: 16px;
}

footer.setting {
    background-color: chartreuse;
    font-size: small;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
    text-indent: 10px;
    box-shadow: 5cm;
}


title.class {
    color: rgb(0, 96, 16)
}

a.link {
    color: rgb(0, 96, 16);
    text-decoration: none;
    display: inline-block;
  }

  nav.back {
        background-color: crimson;
  }

  a#top {
    color: azure;
    font-size: 15px;
    font-weight: bolder;
    font-stretch: wider;
  }


  .grid-for-recipes {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    padding: 10px;
    margin: 10px

  }


.heading {
    color: rgb(0,96,16)
}



tr:nth-child(even) {
    background-color: #242424de;
  }
